<p><strong>Chair:</strong><br>
Cristina Gragnani<br>
537 Anderson Hall<br>
<a href="tel:2152041816">(215) 204-1816</a><br>
<a href="mailto:gragnani@temple.edu">gragnani@temple.edu</a></p>
<hr>
<p><strong>Administrator:</strong><br>
Michelle Pugliese<br>
429 Anderson Hall<br>
<a href="tel:2152045628">(215) 204-5628</a><br>
<a href="mailto:pugliese@temple.edu">pugliese@temple.edu</a></p>
<hr>
<p><strong>Study Abroad Faculty Advisor:</strong><br>
Roget Wilbert<br>
549 Anderson Hall<br>
<a href="tel:2152048273">(215) 204-8273</a><br>
<a href="mailto:wilbert@temple.edu">wilbert@temple.edu</a></p>
<hr>
<p><strong>Faculty Advisor:</strong><br>
Ruth Thomas<br>
548 Anderson Hall<br>
<a href="tel:2152041758">(215) 204-1758</a><br>
<a href="mailto:rpthomas@temple.edu">rpthomas@temple.edu</a></p>
<hr>
<p><strong>Coordinator:</strong><br>
Stephanie Smith<br>
539 Anderson Hall<br>
<a href="tel:2152041261">(215) 204-1261</a><br>
<a href="mailto:ssmith14@temple.edu">ssmith14@temple.edu</a></p>
