sidebar-content: |
  **Chair:**
   Cristina Gragnani
   537 Anderson Hall
   [(215) 204-1816](tel:2152041816)
   [gragnani@temple.edu](mailto:gragnani@temple.edu)
   
   ___
   
   **Administrator:**
   Michelle Pugliese
   429 Anderson Hall
   [(215) 204-5628](tel:2152045628)
   [pugliese@temple.edu](mailto:pugliese@temple.edu)
   
   ___
   
   **Study Abroad Faculty Advisor:**
   Michelle Pugliese
   549 Anderson Hall
   [(215) 204-8273](tel:2152048273)
   [wilbert@temple.edu](mailto:wilbert@temple.edu)
   
   ___
   
   **Faculty Advisor:**
   Ruth Thomas
   548 Anderson Hall
   [(215) 204-1758](tel:2152041758)
   [rpthomas@temple.edu](mailto:rpthomas@temple.edu)
   
   ___

   **Coordinator:**
   Stephanie Smith
   539 Anderson Hall
   [(215) 204-1261](tel:2152041261)
   [ssmith14@temple.edu](mailto:ssmith14@temple.edu)
